body{
	background-color:#e2e2e2;
	color: #000305;
	font-family:"Bahnschrift";
	font-size:87.5%;
	line-height:1.5;
	text-align:left;
}
a{
	text-decoration:none;
}
a:link, a:visited{
	color:#2892bb;

}
a:hover, a:active{
	color:#2892bb;

}
.post-info{
	font-weight: bold;
	color:#1e1e1e;
	font-size:20px;

}
.body{
	margin:0 auto;
	width:70%;
	clear:both;
}
.mainheader img{
	width:30%;
	height:auto;
	margin:2% 0;
}
.mainheader nav{
	background-color: #666;
	height: 40px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.mainheader nav ul{
	list-style:none;
	margin:0 auto;
}
.mainheader nav ul li{
	float: left;
	display: inline;
}
.mainheader nav a:link, .mainheader nav a:visited{
	color:#FFF;
	display:inline-block;
	padding:10px 25px;
	height:20px;
}
.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited{
	background-color: #2892bb;
	text-shadow:none;
}
.mainheader nav ul li a{
		border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.mainContent {
	line-height:25px;
		border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
text-align:center;

}
th, td{
	text-align:center;
	border: 1px solid #b2b2b2;

}
 table{
	border-collapse: collapse;
	width:70%;
	font-size:12px;
}
table p{
padding:1% 1% 1% 1%;
}
table img{
	width:60%;

}
ul{
	list-style-type: square;
	color:#207392;
}
.content {
	width:100%;
	float:left;

}

.topcontent{
	background-color:#FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:3% 5%;
	margin-top:2%;


}
.mainContent h2
{
	color:#1e1e1e;

}
.img1{
	float:left;
	padding-right:1%;
	padding-bottom:0;
}
.img2, .img3{
	float:right;
	padding-left:1%;
	padding-bottom:1%;
}

.top-sidebar {
	margin: 1.5% 0 1% 3%;
	width: 21%;
	float:left;
	background-color:#FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding: 1.3% 3%;
}
.top-sidebar h2{
	color:#2892bb;
}
.mainFooter{
width:100%;
float:left;
height:40px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#666;
	margin-top:2%;
	margin-bottom:2%;
}
.mainFooter p {
	width:92%;
	margin:10px auto;
	color:#FFF;
	text-align:center;
}

@media only screen and (min-width: 150px) and (max-width:600px)
{
.body{

	width:90%;
	font-size:95%;
}

.mainheader img{
	width:100%

}

.mainheader nav{

	height: 240px;
}
.mainheader nav ul{

padding-left:0;
}

.mainheader nav ul li{
	width:100%;
	text-align:center;
}
.mainheader nav a:link, .mainheader nav a:visited{

	padding:10px 25px;
	height:20px;
	display:block;
}
.mainContent {
	line-height:25px;

}
.content {
	width:100%;
	margin-top:2%;
}
.post-info{
	display:none;
}

.topcontent{

	margin-bottom:4%;
}

.top-sidebar {
	margin: 1.5% 0 1% 0;
	width: 94%;
	float:left;
	background-color:#FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding: 2% 3%;
}

 table{
	border-collapse: collapse;
	width:100%;
	font-size:12px;


}
table p{
	display:inline;
	padding:1% 1% 1% 1%;
}
table img{
width:100%;

}
}